line-item{
    display: block;
    width: 100%;
    padding: 1rem;
    border-radius: 0.25rem;
    border: 1px solid var(--grey-300);
    margin-bottom: 1rem;

    &:last-of-type{
        margin-bottom: 0;
    }

    h3{
        display: block;
        font-weight: var(--font-medium);
        font-size: var(--font-lg);
        margin-bottom: 0.5rem;
    }

    h4{
        display: block;
        font-size: var(--font-sm);
        margin-bottom: 1rem;
    }

    span{
        height: 36px;
        line-height: 36px;
        text-align: center;
        font-size: var(--font-lg);
        display: inline-block;
        margin: 0 1.5rem;
    }
}