shop-view{
    width: 100%;
    position: relative;

    .container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(0px, 400px));
        gap: 1rem;

        @media (min-width: 768px){
            grid-template-columns: repeat(auto-fit, minmax(0px, 300px));
        }
    }
}